<section
        id="local-certificate_management-{{uniqid}}"
        class="container"
        data-limit="1"
        data-courseid="{{courseid}}"
        data-page="1"
>
    <h3 class="pb-3">
        {{#str}} users, local_certificate_management {{/str}}
    </h3>
    <div>
        <div class="filter">
            <div class="row">
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <label for="search-param">{{#str}} search, local_certificate_management {{/str}}</label>
                        <input type="text" id="search-param" class="form-control search-param">
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="form-group">
                        <label for="order-param">{{#str}} sort, local_certificate_management {{/str}}</label>
                        <select name="order-param" id="order-param" class="order-param form-control">
                            <option value="ASC">{{#str}} sort_asc, local_certificate_management {{/str}}</option>
                            <option value="DESC">{{#str}} sort_desc, local_certificate_management {{/str}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <p class="total-users-label text-right">Total: <b class="total-users">0</b></p>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <th scope="col">#</th>
            <th scope="col" class="text-center">{{#str}} user_thead_name, local_certificate_management {{/str}}</th>
            <th scope="col" class="text-center">{{#str}} user_thead_email, local_certificate_management {{/str}}</th>
            <th scope="col" class="text-center">{{#str}} user_thead_progress, local_certificate_management {{/str}}</th>
            <th scope="col" class="text-center">{{#str}} user_thead_certificate, local_certificate_management {{/str}}</th>
            <th scope="col" class="text-center">{{#str}} user_thead_actions, local_certificate_management {{/str}}</th>
            </thead>
            <tbody class="users-content">
            </tbody>
        </table>
    </div>
    {{> local_certificate_management/components/common/btn-see-more }}
</section>

{{#js}}
    require(
    [
    'jquery',
    'local_certificate_management/main',
    ],
    function(
    $,
    Main
    ) {
    var root = $('#local-certificate_management-{{uniqid}}');
    Main.initUsers(root);
    });
{{/js}}