{{#courses}}
    <tr class="courses-item">
        <th scope="row">{{id}}</th>
        <td>{{short_name}}</td>
        <td>{{fullname}}</td>
        <td>{{enrolled_users}}</td>
    </tr>
{{/courses}