<div class="footer d-flex justify-content-between pt-3" style="width:100%">
    <button type="button" class="btn btn-secondary" data-action="hide" aria-label="Close">
        {{#str}} button_cancel, local_certificate_management {{/str}}
    </button>
    <div>
        <button class="btn btn-warning see" data-action="delete">
            {{#str}} button_see_certificate, local_certificate_management {{/str}}
        </button>
        <button class="btn btn-primary regen" data-action="save">
            {{#str}} button_issue_certificate, local_certificate_management {{/str}}
        </button>
    </div>
</div>