<button type="button" class="btn btn-secondary" data-action="hide" aria-label="Close">
    {{#str}} button_cancel, local_certificate_management {{/str}}
</button>
<button class="btn btn-primary issue" data-action="save">
    {{#str}} button_issue_history, local_certificate_management {{/str}}
</button>
