<div class="form-group">
    <p>
        {{#str}} modal_regen_certificate_explain, local_certificate_management {{/str}}
    </p>
    <label for="template">{{#str}} modal_issue_certificate_label, local_certificate_management {{/str}}</label>
    <select name="template" id="template" class="form-control chose-template">
        <option value="" selected>{{#str}} modal_issue_certificate_placeholder, local_certificate_management {{/str}}</option>
        {{#templates}}
            <option value="{{id}}">{{name}}</option>
        {{/templates}}
    </select>
</div>
